__pycache__/
*.pyc

# environments
curvfed_env/

# datasets
data/
HAM10000/
MNIST/

# training artifacts
smashed/
distrib/

# model weights
*.pt
*.pth

# logs
*.txt
*.log
logs/

# result files
*.npy
*.xlsx
*.json
*.png

# Mac / system files
.DS_Store
