# datasets
data/
HAM10000/
MNIST/

# training artifacts
smashed/
distrib/
logs/
checkpoints/

# model weights
*.pt
*.pth
*.json
*.png

# logs
*.txt
*.log

# result files
*.npy
*.xlsx

# environment and system files
curvfed_env/
__pycache__/
.DS_Store
