# Ignore huge data folders
data/
smashed/
*/smashed/
SplitFed/
SplitFed-When-Federated-Learning-Meets-Split-Learning/data/

# Ignore generated outputs
*.pt
*.pth
*.npy
*.npz
*.json
*.DS_Store
*.png
*.jpg
*.svg
*.pdf
